body{
    background-color: black;
    color: white;
    width: 60%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.start{
    border: none;
    cursor: pointer;
    background-color: antiquewhite;
    padding: 10px 15px;

}
input{
    outline: none;
}
img{
    width: 400px;
    height: 400px;
    cursor: pointer;
}


